<a href="https://colab.research.google.com/github/VictorMadu/Data-Science--Cheat-Sheet/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import os
from scipy import stats
import pickle
import warnings; warnings.filterwarnings('ignore')

In [0]:
df = pd.read_csv("/content/drive/My Drive/fraud detection/data/processed_train.csv")

In [5]:
print(df.shape[0], df.shape[1])

10493 1259

In [6]:
df.head()

   account destination verification  ...  diff_recent_and_current_amount/time taken (seconds)
0                                 1  ...                                             305093
1                                 0  ...                                             217672
2                                 1  ...                                             380384
3                                 1  ...                                             178639
4                                 1  ...                                             409470

[5 rows x 1259 columns]

In [7]:
df[df.isnull().any(1)]

Empty DataFrame
Columns: [account destination verification, account source verification, account type, age, credit card type, current bank amount, fradulent, id, last bank amount, marital_status, most recent bank amount, occupation, time taken (seconds), transaction source method, is_busday, year, quarter, month, week, day, hour, minute, second, weekday, no_days_in_month, age_group, diff_current_and_last_amount, diff_recent_and_last_amount, diff_recent_and_current_amount, account type_current bank amount_mean, account type_current bank amount_max, account type_current bank amount_min, account type_current bank amount_range, account type_current bank amount_sum, account type_current bank amount_skew, account type_current bank amount_kurtosis, account type_current bank amount_std, account type_current bank amount_count, account type_last bank amount_mean, account type_last bank amount_max, account type_last bank amount_min, account type_last bank amount_range, account type_last bank amount_sum, account type_last bank amount_skew, account type_last bank amount_kurtosis, account type_last bank amount_std, account type_last bank amount_count, account type_time taken (seconds)_mean, account type_time taken (seconds)_max, account type_time taken (seconds)_min, account type_time taken (seconds)_range, account type_time taken (seconds)_sum, account type_time taken (seconds)_skew, account type_time taken (seconds)_kurtosis, account type_time taken (seconds)_std, account type_time taken (seconds)_count, account type_most recent bank amount_mean, account type_most recent bank amount_max, account type_most recent bank amount_min, account type_most recent bank amount_range, account type_most recent bank amount_sum, account type_most recent bank amount_skew, account type_most recent bank amount_kurtosis, account type_most recent bank amount_std, account type_most recent bank amount_count, account type_age_mean, account type_age_max, account type_age_min, account type_age_range, account type_age_sum, account type_age_skew, account type_age_kurtosis, account type_age_std, account type_age_count, account type_diff_current_and_last_amount_mean, account type_diff_current_and_last_amount_max, account type_diff_current_and_last_amount_min, account type_diff_current_and_last_amount_range, account type_diff_current_and_last_amount_sum, account type_diff_current_and_last_amount_skew, account type_diff_current_and_last_amount_kurtosis, account type_diff_current_and_last_amount_std, account type_diff_current_and_last_amount_count, account type_diff_recent_and_last_amount_mean, account type_diff_recent_and_last_amount_max, account type_diff_recent_and_last_amount_min, account type_diff_recent_and_last_amount_range, account type_diff_recent_and_last_amount_sum, account type_diff_recent_and_last_amount_skew, account type_diff_recent_and_last_amount_kurtosis, account type_diff_recent_and_last_amount_std, account type_diff_recent_and_last_amount_count, account type_diff_recent_and_current_amount_mean, account type_diff_recent_and_current_amount_max, account type_diff_recent_and_current_amount_min, account type_diff_recent_and_current_amount_range, account type_diff_recent_and_current_amount_sum, account type_diff_recent_and_current_amount_skew, account type_diff_recent_and_current_amount_kurtosis, account type_diff_recent_and_current_amount_std, ...]
Index: []

[0 rows x 1259 columns]

In [0]:
cat = ['age', 'account type','account source verification', 'transaction source method', 'account destination verification', 'credit card type',  'age_group', 'marital_status', 'occupation', 'is_busday', 'year', 'quarter', 'month', 'week', 'day', 'hour', 'weekday', 'no_days_in_month', 'minute', 'second']
for i in cat:
  df[i] = df[i].astype('category')

In [9]:
df.head()

  account destination verification  ... diff_recent_and_current_amount/time taken (seconds)
0                                1  ...                                             305093
1                                0  ...                                             217672
2                                1  ...                                             380384
3                                1  ...                                             178639
4                                1  ...                                             409470

[5 rows x 1259 columns]

In [0]:
gat =  ['age', 'account type', 'account source verification', 'transaction source method', 'account destination verification', 'credit card type', 'age_group', 'marital_status', 'occupation', 'is_busday', 'year', 'quarter', 'month', 'week', 'day', 'hour', 'weekday', 'no_days_in_month', 'minute', 'second', 'fradulent']
gf = df[gat]
cols_dict = dict()                                 
for col in cat:
  groups = gf.groupby(col)['fradulent'].mean()
  uniques = gf[col].unique()
  uniques_dict = dict(zip(uniques, groups))
  cols_dict[col] = uniques_dict

In [11]:
gf.head()

  age account type account source verification  ... minute second fradulent
0  46       saving                           1  ...     44     58         0
1  64      current                           1  ...      5      7         0
2  41      current                           1  ...     44     58         0
3  66      current                           1  ...      5     32         0
4  78      current                           0  ...     11     57         1

[5 rows x 21 columns]

In [0]:
X = df.drop(['fradulent', 'id'], axis=1)
y = df['fradulent']

In [0]:
from sklearn.base import BaseEstimator, TransformerMixin, clone
class MeanEncoder(BaseEstimator, TransformerMixin):
    
    def __init__(self, cols=[]):
        self.cols = cols 

    def transform(self, X, **transformparams):
        assert isinstance(X, pd.DataFrame) 
        for col in self.cols:
            X[col+" mean_encoded"] = X[col].map(self.mean_mapped_dict[col])
        return X

        
    def fit(self, X, y=None, **fitparams):
      assert isinstance(X, pd.DataFrame)
      global cols_dict 
      self.mean_mapped_dict = cols_dict.copy()
      return self

In [0]:
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV
from scipy.stats import uniform, truncnorm, randint

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [0]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder, PolynomialFeatures, OrdinalEncoder
from sklearn.feature_selection import SelectKBest

cat_feat = df.drop(['fradulent','id'], axis=1).select_dtypes(exclude=['int', 'float']).columns

num_transform1 = Pipeline(steps=[
    ('scaler', StandardScaler()),
    ('fs', SelectKBest(k=150)),
    ('poly', PolynomialFeatures(degree=2, include_bias=False)),
    
])

num_transform2 = Pipeline(steps=[
    ('scaler', StandardScaler()),
    ('fs', SelectKBest(k=150))
])


cat_transform1 = Pipeline(steps=[
    # ('mean_encoder', MeanEncoder(cols=cat_feat)),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
    
])

cat_transform2 = Pipeline(steps=[
    # ('mean_encoder', MeanEncoder(cols=cat_feat)),
    ('ordinal', OrdinalEncoder())
    
])

In [35]:
from sklearn.compose import ColumnTransformer
from scipy.stats import uniform, truncnorm, randint
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.linear_model import LogisticRegression



num_feat = X.select_dtypes(include=['int', 'float']).columns
cat_feat = X.select_dtypes(exclude=['int', 'float']).columns

preprocesser = ColumnTransformer(transformers=[
      ('num', num_transform1, num_feat),
      ('cat', cat_transform1, cat_feat)
  ])

clf_pipe = Pipeline(steps=[
    ('preprocesser', preprocesser),
    ('classifier', LogisticRegression(class_weight='balanced', C=0.5))
])


grid_params = { 
            'preprocesser__num__fs__k': randint(80,190),
            'classifier__penalty': ['l1', 'l2', 'elasticnet'],
            'classifier__l1_ratio': uniform(0.00, 1.00),
            'classifier__C': uniform(0.00, 1.00)
}

print('Model training')
clf_search = RandomizedSearchCV(clf_pipe, grid_params, n_iter=100, cv=5, scoring='roc_auc')
clf = clf_search.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print('\n accuracy of train', accuracy_score(y_train, clf.predict(X_train)))
print('\n roc_auc_score of train', roc_auc_score(y_train, clf.predict(X_train)))
print('\naccuarcy score of test', accuracy_score(y_test, y_pred))
print('\nroc auc score of test', roc_auc_score(y_test, y_pred))



# if not os.path.exists("/content/drive/My Drive/fraud detection/models"):
#     os.makedirs("/content/drive/My Drive/fraud detection/models")

# pickle.dump(clf, open(f"/content/drive/My Drive/fraud detection/models/lr", "wb"))
# print("_"*70)

Model training

 accuracy of train 0.7221238938053097

 roc_auc_score of train 0.7877819809014163

accuarcy score of test 0.7198221092757306

roc auc score of test 0.7808216528740546

In [0]:
.import pickle
clf = pickle.load(open("/content/drive/My Drive/fraud detection/models/lr", "rb"))

In [18]:
clf.best_params_

{'classifier__C': 0.3988039049238967,
 'classifier__l1_ratio': 0.8434464466957959,
 'classifier__penalty': 'l2',
 'preprocesser__num__fs__k': 167}

In [22]:
clf.best_params_

{'classifier__C': 0.744584134819443,
 'classifier__l1_ratio': 0.9513626131227076,
 'classifier__penalty': 'l2',
 'preprocesser__num__fs__k': 95}

In [30]:
clf.best_params_

{'classifier__C': 0.02579173708282434,
 'classifier__l1_ratio': 0.3969533965417059,
 'classifier__penalty': 'l2',
 'preprocesser__num__fs__k': 176}

In [36]:
clf.best_params_

{'classifier__C': 0.7395678156557826,
 'classifier__l1_ratio': 0.06342549276476517,
 'classifier__penalty': 'l2',
 'preprocesser__num__fs__k': 168}

In [37]:
test_preprocessed = pd.read_csv('/content/drive/My Drive/fraud detection/data/processed_test.csv')
test_preprocessed.head()

   account destination verification  ...  diff_recent_and_current_amount/time taken (seconds)
0                                 0  ...                                             -58713
1                                 0  ...                                             269098
2                                 0  ...                                             380834
3                                 1  ...                                             151742
4                                 1  ...                                             186619

[5 rows x 1258 columns]

In [0]:
test_labels = np.round(clf.predict(test_preprocessed)).flatten()

In [39]:
submission = pd.DataFrame({'id':test_preprocessed['id'],'fradulent':test_labels})
submission.head(10)

         id  fradulent
0  bcus2993          0
1  bcus2994          1
2  bcus2995          0
3  bcus2996          1
4  bcus2997          0
5  bcus2998          0
6  bcus2999          0
7  bcus3000          0
8  bcus3001          1
9  bcus3002          1

In [0]:
submission.to_csv('submission_50.csv',index=False)